.DS_Store
/.idea
push
workspace.xml
.idea
.idea/

/CIFAR-10
/MNIST
/EFIGI
/EFIGI_
/GIFs
/checkpoints
/restore_graph
/samples
/summaries
/results
/catalina
/generated
/FATS

*.csv
*.rst
.DS_Store
*.pyc
*.pkl
*.pickle
*.jpg
*.png
*.iws
*.npy
*.hdf5
*.save
*.h5
weights.best.trainonsynthetic.hdf5
